<ion-view view-title="tab1">
  <ion-content>
    <h4 class="content padding double-padding-x">用户资产</h4>
    <!--<div class="list animate-fade-slide-in-right">-->
      <!--<a ui-sref="app.friends" class="item item-avatar item-icon-right">-->
        <!--<img src="img/adam.jpg">-->
        <!--<h2>Jon Snow</h2>-->
        <!--<p>Da illest illegitimate</p>-->
        <!--<i class="icon ion-chatbubble muted"></i>-->
      <!--</a>-->
      <!--<a ui-sref="app.friends" class="item item-avatar item-icon-right">-->
        <!--<img src="img/ben.png">-->
        <!--<h2>Sansa Stark</h2>-->
        <!--<p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>-->
        <!--<i class="icon ion-chatbubble muted"></i>-->
      <!--</a>-->
      <!--<a ui-sref="app.friends" class="item item-avatar item-icon-right">-->
        <!--<img src="img/max.png">-->
        <!--<h2>Tyrion Lannister</h2>-->
        <!--<p>B.A.M.F. imp</p>-->
        <!--<i class="icon ion-chatbubble muted"></i>-->
      <!--</a>-->
    <!--</div>-->
    <ion-list class="animate-fade-slide-in-right">
      <ion-item class="item-icon-left item-icon-right">
        <i class="icon ion-card positive"></i>
        <div>
          <h2 class="positive">账户充值</h2>
          <span class="positive">总资产:25df</span>
        </div>
        <i class="icon ion-ios-arrow-right positive"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" ui-sref="app.draw">
        <i class="icon ion-cash"></i>
        <div>
          <h2>提现</h2>
          <span>额度:25</span>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right">
        <i class="icon ion-social-yen"></i>
        <div>
          <h2>红包</h2>
          <span>额度:100</span>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
