<ion-view view-title="tab3">
  <ion-content>
    <h4 class="content padding double-padding-x">tab3</h4>
    <div class="list animate-fade-slide-in-right">
      <a ui-sref="app.friends" class="item item-avatar item-icon-right">
        <img src="img/adam.jpg">
        <h2>Jon Snow</h2>
        <p>Da illest illegitimate</p>
        <i class="icon ion-chatbubble muted"></i>
      </a>
      <a ui-sref="app.friends" class="item item-avatar item-icon-right">
        <img src="img/ben.png">
        <h2>Sansa Stark</h2>
        <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
        <i class="icon ion-chatbubble muted"></i>
      </a>
      <a ui-sref="app.friends" class="item item-avatar item-icon-right">
        <img src="img/max.png">
        <h2>Tyrion Lannister</h2>
        <p>B.A.M.F. imp</p>
        <i class="icon ion-chatbubble muted"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
